/*----- bookmark-group -----*/

.bookmark-group-title {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

    .bookmark-group-title .start {
        display: flex;
        align-items: center;
    }

    .bookmark-group-title .end {
        display: flex;
        align-items: center;
        padding-right: 15px
    }

.bookmark-group-title-text {
    font-weight: 700;
    padding: 0 10px;
}

.bookmark-group-title-text,
.bookmark-item-text {
    word-wrap: break-word;
    word-break: break-all;
}

.bookmark-group-children {
    /*padding-top: 5px;*/
    padding-top: 15px;
}

/*----- bookmark-group -----*/

/*----- bookmark-item -----*/

.bookmark-item {
    display: flex;
    align-items: center;
    border-radius: .35rem;
    /*border-radius: 5px;*/ 
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    margin: 10px auto;
    cursor: pointer;
}

    .bookmark-item.first {
        margin-top: 0px;
    }

    .bookmark-item.last {
        margin-bottom: 0px;
    }

.bookmark-item-icon {
    display: flex;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
}

.bookmark-item-text {
    align-self: center;
}

@media screen and (max-width: 640px) {
    .bookmark-item {
        padding: 10px;
    }

    .bookmark-item-text {
        padding: 0 10px;
    }
}

@media screen and (min-width: 641px) {
    .bookmark-item {
        padding: 10px 15px;
    }

    .bookmark-item-text {
        padding: 0 15px;
    }
}

.bookmark-item-title {
    align-self: center;
    padding: 0;
    font-weight: 700;
}

.bookmark-item-sub-title {
    display: block;
    align-items: center;
    align-self: center;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 700;
}

.bookmark-item-sub-title-icon {
    margin-right: 5px;
}

.bookmark-item-link {
    margin-left: auto;
}

.bookmark-item-nav-button {
    margin-left: 15px;
}

/*----- bookmark-item -----*/

/*----- board-toolbar -----*/

.board-toolbar {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

    .board-toolbar .button {
        margin-right: 10px;
        font-size: .9rem;
    }

    .board-toolbar .start {
        display: flex;
        align-items: center;
    }

    .board-toolbar .end {
        display: flex;
        align-items: center;
    }

/*----- board-toolbar -----*/