body.light {
    --fileItemActiveHoverColor: #fff;
}

body.dark {
    --fileItemActiveHoverColor: #7a7a7a;
}

/*----- bookmark-item -----*/

@media screen and (min-width: 1025px) {
    .bookmark-group a:hover {
        color: var(--linkHoverColor)
    }

    a.bookmark-group-title-text:hover {
        color: var(--linkHoverColor)
    }
}

/*----- bookmark-item -----*/

/*----- bookmark-item -----*/

.bookmark-item {
    background-color: var(--checkboxWrapColor);
    border-color: var(--checkboxWrapBorderColor);
}

/*.bookmark-item-description {
    color: var(--fileDescriptionColor)
}*/

    .bookmark-item.hover:hover {
        background-color: var(--boardHoverColor)
    }

    .bookmark-item.active,
    .bookmark-item.active.hover:hover {
        background-color: var(--fileItemActiveBgColor)
    }

    .bookmark-item.active {
        color: var(--fileItemActiveColor)
    }

        .bookmark-item.active .bookmark-item-icon {
            color: var(--fileItemActiveIconColor)
        }

        /*.bookmark-item.active .bookmark-item-description {
            color: var(--fileItemActiveDescriptionColor)
        }*/

        .bookmark-item.active.hover:hover {
            color: var(--fileItemActiveColor)
        }

            .bookmark-item.active.hover:hover .bookmark-item-icon {
                color: var(--fileItemActiveIconColor)
            }

            /*.bookmark-item.active.hover:hover .bookmark-item-description {
                color: var(--fileItemActiveDescriptionColor)
            }*/

a .bookmark-item-icon,
div .bookmark-item-icon {
    color: var(--fileIconColor)
}

a:hover .bookmark-item-icon,
div:hover .bookmark-item-icon {
    color: var(--fileIconHoverColor)
}

.bookmark-item-sub-title {
    color: var(--fileDescriptionColor);
}

.bookmark-item.active .bookmark-item-sub-title {
    color: var(--fileItemActiveDescriptionColor)
}

.bookmark-item.active.hover:hover .bookmark-item-sub-title {
    color: var(--fileItemActiveDescriptionColor)
}

.bookmark-item.active a {
    color: var(--fileItemActiveColor)
}

.bookmark-item.active.hover:hover a {
    color: var(--fileItemActiveColor)
}

.bookmark-item.active a:hover {
    color: var(--fileItemActiveHoverColor)
}

.bookmark-item.active.hover:hover a:hover {
    color: var(--fileItemActiveHoverColor)
}

/*----- bookmark-item -----*/